@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter" !important;
}

/* Navigation Section */
.nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #0d0a19;
  margin-left: 20px;
}

.sign-up {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  letter-spacing: -0.1px;

  color: #9a9ea7;
}

.sign-up img {
  background-color: #f5f6f7;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  padding: 5px 8px;
  margin-right: 5px;
}

/* Hero Section */
.section-1 {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 560px;
}

.section-1 h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  letter-spacing: -0.304762px;
  color: #ffffff;
  padding-top: 149px;
}

.section1-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-top: 26px;
}

/* Search Component */
.top-footer-section {
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(153, 153, 168, 0.15);
  border-radius: 8px;
  max-width: 945px;
  height: 80px;
  position: absolute;
  margin: 0px auto;
  bottom: 10px;
  left: 50%;
  z-index: 99;
  width: 98%;
  transform: translateX(-50%);
}

.top-footer-section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
  margin-left: 10px;
}

.form-select {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.1px;
  color: #0d0a19;
  border: none !important;
  margin-top: -10%;
}

.without-p {
  margin-top: 27px;
}

.header-button {
  background: #7963f0;
  border-radius: 10px;
  padding: 7px 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.1px;
  color: #ffffff;
}

.header-button img {
  margin-top: -3px;
}

.border-right {
  border-right: 1px solid #ede8e9;
  height: 40px;
  margin-top: 20px;
}

.some-margin {
  margin-top: 30px;
}

/* Brand Section */
.section-2 {
  margin-top: 120px;
  margin-bottom: 100px;
}

/* Trending Section */
.section-3 h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.1px;
  color: #0d0a19;
  text-align: center;
  margin-bottom: 50px;
}

.section-3 h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #0d0a19;
  margin-top: 10px;
}

.section-3 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
}

.button-1 {
  background: linear-gradient(
      0deg,
      rgba (255, 255, 255, 0.85),
      rgba (255, 255, 255, 0.85)
    ),
    #7963f0 !important;
  color: #7963f0 !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  font-family: "Inter";
  font-style: normal !important;
  font-size: 14px !important;
  line-height: 21px !important;
  text-align: center !important;
  letter-spacing: -0.1px !important;
}

.button-2 {
  background: #f5f6f7 !important;
  color: #9a9ea7 !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  font-family: "Inter";
  font-style: normal !important;
  font-size: 14px !important;
  line-height: 21px !important;
  text-align: center !important;
  letter-spacing: -0.1px !important;
}

.card {
  border: none;
}

@media all and (max-width: 767px) {
  .section-1 h1 {
    font-size: 38px;
  }

  .section1-p {
    font-size: 16px;
  }

  .top-footer-section {
    height: 100px;
  }

  .header-button {
    width: 95%;
    padding: 17px;
    margin: auto;
  }

  .section-2 {
    margin-top: 300px;
  }

  .section-2 img {
    margin-top: 20px;
  }
}
